---
import Layout from "../components/Layout.astro";
import CommentForm from "../components/CommentForm.astro";
import Avatar from "../components/Avatar.astro";
import { db, Comment } from "astro:db";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const body = formData.get("body");
  if (typeof body === "string") {
    const authorId = Math.floor(Math.random() * 10) + 1;
    await db.insert(Comment).values({
      authorId,
      body,
    });
  }
  return Astro.redirect(Astro.url, 303);
}

const comments = await db.select().from(Comment);
---

<Layout>
  <main class="max-w-lg mx-auto my-20 p-4">
    <CommentForm />
    {
      comments.map(({ body, authorId }) => (
        <article class="flex gap-3 mb-6">
          <Avatar />
          <div class="flex-1">
            <p class="font-medium">Dipankar Maikap {authorId}</p>
            <p>{body}</p>
          </div>
        </article>
      ))
    }
  </main>
</Layout>
