---
import Layout from "~/components/Layout.astro";
import { useStoryblokApi } from "@storyblok/astro";

const storyblokApi = useStoryblokApi();
const articles = await storyblokApi.getAll("cdn/stories", {
  version: "draft",
  starts_with: "articles",
  excluding_fields: "body",
});
---

<Layout>
  <main class="max-w-lg mx-auto my-10 p-4">
    <h1 class="font-bold text-6xl mb-12">Articles</h1>
    <div class="flex flex-col gap-8">
      {
        articles.map((article) => (
          <article>
            <span class="bg-gray-800 text-white rounded p-1">
              {article.content.private ? "Private 🔒" : "Public 🌐"}
            </span>
            <a href={"/" + article.full_slug}>
              <h2 class="text-3xl font-bold my-2 hover:underline hover:text-indigo-600">{article.content.title}</h2>
            </a>
            <p>{article.content.excerpt}</p>
          </article>
        ))
      }
    </div>
  </main>
</Layout>
