---
import { actions } from "astro:actions";
import SignupForm from "~/components/forms/SignupForm.astro";
import Layout from "~/components/Layout.astro";

const comment = Astro.getActionResult(actions.signup);
if (comment?.data?.success) {
  return Astro.redirect("/");
}
const error = comment?.error?.message;
if (Astro.locals.user) {
  return Astro.redirect("/");
}
---

<Layout>
  <main class="max-w-lg mx-auto my-20 p-4">
    <h1 class="text-4xl font-bold mb-4">Sign up</h1>
    <SignupForm />
    <p id="form-error" class="text-red-600 mt-2">{error}</p>
    <p>
      Already have an account?
      <a class="mt-4 text-center underline inline-flex hover:text-indigo-600" href="/signin">Signin</a>
    </p>
  </main>
</Layout>
