---
import SignupForm from "~/components/forms/SignupForm.astro";
import Layout from "~/components/Layout.astro";

//If user is presect redirect them to home if tries
if (Astro.locals.user) {
  return Astro.redirect("/");
}
---

<Layout>
  <main class="max-w-lg mx-auto my-20 p-4">
    <h1 class="text-4xl font-bold mb-4">Sign up</h1>
    <SignupForm />
    <p>
      Already have an account?
      <a class="mt-4 text-center underline inline-flex hover:text-indigo-600" href="/signin">Signin</a>
    </p>
  </main>
</Layout>
