---
interface Props {
  name?: string;
}
const { name = "Unknown name" } = Astro.props;
---

<span
  class="inline-flex mr-2 uppercase items-center justify-center size-6 rounded-full bg-blue-600 text-xs text-white leading-none"
>
  {name.substring(0, 2)}
</span>
