---

---

<footer class="my-8 text-center">
  <p>
    Made with ❤️ using <a class="underline hover:text-indigo-600" href="https://astro.build/" target="_blank">Astro</a>
     and <a class="underline hover:text-indigo-600" href="https://storyblok.com/" target="_blank">Storyblok</a>.
  </p>
</footer>
