---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Storyblok Astro Gated content</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.1"
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
      crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<script>
  document.querySelectorAll("form").forEach((form) => {
    const errorField = document.getElementById("form-error");
    form.addEventListener("submit", () => {
      if (errorField) {
        errorField.innerText = "";
      }
    });
  });
</script>
