---
interface Props extends Partial<HTMLButtonElement> {
  name?: string;
}
const { name, id, type = "button" } = Astro.props;
---

<button
  id={id}
  name={name}
  class="rounded-md bg-blue-600 hover:bg-blue-500 text-white p-2 px-8 w-full disabled:cursor-not-allowed disabled:bg-gray-600"
  type={type}
>
  {name || <slot />}
</button>
