---
import Input from "~/components/ui/Input.astro";
import Button from "~/components/ui/Button.astro";
import type { FormErrorType } from "~/types";

interface Props {
  errors?: FormErrorType;
}
const { errors = {} } = Astro.props;
const emailError = errors["email"];
const passError = errors["password"];
const customError = errors["custom"];
---

<form id="signin-form" hx-post="/api/signin" hx-swap="outerHTML">
  <label for="email">Email {emailError && <span class="text-red-600 form-error">{emailError}</span>} </label>
  <Input placeholder="mail@example.com" name="email" type="text" />
  <br />
  <label for="password">Password {passError && <span class="text-red-600 form-error">{passError}</span>}</label>
  <Input name="password" type="text" />
  <br />
  <Button id="signin-submit-button" name="Create account" type="submit" />
  {customError && <p class="text-red-600 mt-2 form-error">{customError}</p>}
</form>
<script>
  window.htmx?.on("htmx:beforeRequest", () => {
    const submitButton = document.getElementById("signin-submit-button") as HTMLButtonElement;
    document.querySelectorAll(".form-error").forEach((element) => {
      element.remove();
    });
    submitButton.disabled = true;
    submitButton.innerText = "Submitting...";
  });
</script>
